<div class="announcement">
    <a class="announcement__link" href="{{ site.announcement_url }}">
        <img class="announcement__image" src={{ "/assets/img/announcement.webp" | timestamp }} alt="announcement banner" />
    </a>
</div>
