footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $skin-grid-gap;
    margin-top: auto;
    a {
        transition: 200ms ease all;
        display: flex;
        align-items: center;
        margin: 0px 16px;
        gap: 4px;

        color: $text-colour-muted;
        fill: $text-colour-muted;
        &:hover {
            color: $text-colour;
            fill: $text-colour;
        }
    }
    .icon {
        width: 20px;
        height: 20px;
        &.github,
        &.gitlab {
            padding: 1px;
        }
    }
}

@media (max-width: 600px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px auto 16px;
        gap: 4px;
    }
}
