header {
    transition: 200ms ease all;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navbar {
    margin: 0 auto 16px;
    max-width: var(--content-width);
    background-color: $primary;
    box-shadow: $shadow;
    border-radius: 0 0 $radius $radius;
    display: flex;
    position: relative;
    $root: &;
    &__item,
    &__dropdown-label {
        float: left;
        color: $header-link;
        text-align: center;
        align-items: center;
        padding: 17px 19px;
        transition: 200ms ease all;
        font-weight: 500;
        display: flex;
        gap: 8px;
        &:hover {
            color: $header-link-hover;
            fill: $header-link-hover;
        }
        &.highlight {
            color: #3dadff !important;
        }
        .icon {
            height: 20px;
            width: 20px;
            &.github {
                fill: $header-link;
            }
        }
    }
    &__dropdown {
        position: relative;
        display: flex;
        width: max-content;
        background-color: $primary;
        &.highlight #{$root}__dropdown-label {
            color: #3dadff !important;
        }
        &-content {
            box-shadow: $shadow;
            display: none;
            flex-direction: column;
            position: absolute;
            z-index: 10000;
            width: max-content;
            top: 54px;
            &:hover {
                display: flex;
            }
        }
        &-label {
            z-index: 6;
            background-color: $primary;
        }
        &-entry {
            background-color: $primary;
            width: 100%;
            padding: 8px 16px;
            &:last-of-type {
                border-radius: 0 0 4px 4px;
            }
        }
        &:hover #{$root}__dropdown-content {
            display: flex;
        }
    }
    &__item--menu-foldout {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    // mobile foldout state
    &--foldout {
        flex-direction: column;
        #{$root} {
            &__dropdown-content {
                display: flex;
                position: unset;
                box-shadow: none;
                width: 100%;
                padding-left: 32px;
                margin-top: -16px;
            }
            &__dropdown {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        &__dropdown {
            width: 100%;
        }
        &__item--menu-foldout {
            display: flex !important;
        }
        &__dropdown {
            width: 100%;
        }
    }
    .navbar:not(.navbar--foldout) > {
        .navbar__dropdown:hover .navbar__dropdown-content {
            display: none;
        }
        .navbar__item:not(.highlight),
        .navbar__dropdown:not(.highlight) {
            display: none;
        }
    }
}
