* {
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: "Inter", sans-serif;
    color: $text-colour;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

a {
    color: $accent-blue;
    text-decoration: none;
    transition: 100ms ease all;
    &:hover {
        color: $accent-yellow;
    }
}

main {
    margin: 0px auto;
    width: var(--content-width);
    > * {
        margin-top: 0;
    }
}

.noscript {
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    list-style-type: disc;
    code {
        line-height: 26px;
    }
}

strong {
    font-weight: 800;
}

/** inline code  and code blocks **/
code.language-plaintext {
    font-family: "Inter", sans-serif;
    background: $primary-80;
    border-radius: 4px;
    padding: 0px 6px;
    color: $accent-blue;
    font-size: 14px;
}

pre.highlight {
    background-color: $primary-80;
    border-radius: 4px;
    padding: 8px;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
}
.language-ini{
    .nn {
        color: $accent-blue;
        font-weight: 700;
    }
}

