@mixin primary {
	background: $button-gradient;
	&:hover {
		background: $button-gradient-hover;
	}
}

.button {
	width: 100%;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	.icon {
		width: 20px;
		height: 20px;
	}
	&--primary {
		@include primary;
	}
	&--secondary {
		background-color: $button-grey;
		&:hover {
			background: $button-grey-hover;
		}
	}
}

button {
	border: none;
}

.icon-input-container {
	display: flex;
	position: relative;
	align-items: center;

	input:focus-visible ~ .icon,
	input:focus ~ .icon,
	select:focus-visible ~ .icon,
	select:focus ~ .icon {
		color: $text-colour;
	}
	.icon {
		color: $text-colour-muted;
		width: 16px;
		height: 16px;
		margin: 8px;
		position: absolute;
		z-index: 2;
		left: 0;
	}
	input,
	select {
		width: 100%;
		z-index: 1;
	}
	&:not(&--right-align) {
		input,
		select {
			padding-left: 32px;
		}
	}
	&--right-align {
		.icon {
			left: unset;
			right: 0;
		}
	}
}

input[type="date"],
input[type="text"],
input[type="number"],
select,
textarea {
	padding: 8px;
	border-radius: $radius;
	color: $text-colour-muted;
	border: 1px solid $primary-80;
	transition: 200ms ease all;
	background-color: $primary-80;
	font-size: 12px;
	outline: none;
	&:focus-visible,
	&:focus {
		border: 1px solid $accent-yellow;
		color: $text-colour;
	}
}

textarea {
	resize: vertical;
}

input[type="date"],
select {
	cursor: pointer;
}

select {
	appearance: none;
}

button,
.button,
summary {
	border-radius: $radius;
	color: $text-colour;
	box-shadow: $shadow;
	transition: all 250ms ease;
	cursor: pointer;
	user-select: none;
	margin-bottom: 8px;
	&:hover {
		box-shadow: $shadow-hover;
		color: $text-colour;
	}
}

details {
	summary {
		padding: 8px;
		width: max-content;
		@include primary;
		&:before {
			content: "Expand ";
		}
	}
	&[open] {
		summary:before {
			content: "Hide ";
		}
	}
}
