/**
 * These classes should NEVER be used for regular styling, these are only helper classes for JS
 */
.hidden {
	display: none !important;
}
.grid {
	display: grid !important;
}
.flex {
	display: flex !important;
}
.freeze {
	overflow-y: hidden !important;
}
