@import "mixins";
@import "theme";

@import "footer";
@import "header";
@import "headings";
@import "html-overrides";
@import "inputs";
@import "js-util";

@import "components/announcement";

@import "views/404";

:root {
	--content-width: 1320px;
}

.icon {
	user-select: none;
	width: 20px;
	height: 20px;
}

@media (max-width: 1320px) {
    :root {
        --content-width: 100vw;
    }

    main {
        padding: 0px 16px;
    }
}
