.announcement {
    display: flex;
    max-width: 100%;
    &__link {
        max-width: 100%;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 4px;
    }
    &__image {
        max-width: 100%;
        object-fit: fill;
    }
}