---
layout: master
---

{% comment %}
Checks if the user tried to manually jump to the first page using the navigation and redirects them to the correct page.
{% endcomment %}
<script>
    if (location.pathname.startsWith("/p/1") || location.pathname.startsWith("/p/0") ) {
        window.open(location.pathname.replace("/p/1/", "/"), "_self");
    }
</script>

<div class="error-404">
    <span class="code">404</span>
    <span class="shrug">¯\_(ツ)_/¯</span>
</div>
