<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta name="theme-color" content="#3dadff">  
        {%- if page.url -%}
            <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        {%- endif -%}

        {% include head.html %}

        <link type="application/json+oembed" href="/oEmbed.json" />
        <link rel="stylesheet" href={{ "/assets/css/jekyll-theme.css" | timestamp }}>
        <link rel="stylesheet" href={{ "/assets/css/main.css" | timestamp }}>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <nav class="navbar">
                {% for entry in site.data.header %}
                    {% comment %} various variables that are shared across both kinds of navbar items{% endcomment %}
                    {% assign selected = false %}
                    {% if page.highlight == entry.highlight %}
                        {% assign selected = true %}
                    {% endif %}
                    {% assign modifier = entry.name | replace: " ", "" | downcase %}
                    {% capture icon %}{%- include icons/{{ entry.icon }}.svg -%}{% endcapture %}

                    {% if entry.entries %}
                        <div class="navbar__dropdown navbar__dropdown--{{ modifier }} {% if selected %}highlight{% endif %}">
                            <span class="navbar__dropdown-label">{{ icon }}{{ entry.name }}</span>
                            <div class="navbar__dropdown-content">
                                {%- for dropdown_entry in entry.entries -%}
                                    <a class="navbar__dropdown-entry" href="{{ entry.url }}{{ dropdown_entry.url }}">{{ dropdown_entry.name }}</a>
                                {%- endfor -%}
                            </div>
                        </div>
                    {% else %}
                        <a class="navbar__item navbar__item--{{ modifier }} {% if selected %}highlight{% endif %}" href="{{ entry.url }}">{{ icon }}{{ entry.name }}</a>
                    {% endif %}
                {% endfor %}

                <div class="navbar__item navbar__item--menu-foldout">{%- include icons/menu.svg -%}</div>
            </nav>
        </header>
        <main id="main">
            {% if site.show_announcement and page.show_announcement %}
                {% include announcement.html %}
            {% endif %}
            {{ content }}
        </main>
        <footer>
            {% if site.theme_config.project == "compendium" %}
                <a href="https://skinship.xyz/" target="_blank" rel="noopener">{%- include icons/skinship.svg -%} skinship</a>
            {% elsif site.theme_config.project == "skinship-mainsite" %}
                <a href="https://compendium.skinship.xyz/" target="_blank" rel="noopener">{%- include icons/skinship.svg -%} Compendium</a>
            {% endif %}
            <a href="{{ site.theme_config.gitlab_url }}" target="_blank" rel="noopener">{%- include icons/gitlab.svg -%} GitLab</a>
            <a href="https://discord.skinship.xyz/" target="_blank" rel="noopener">{%- include icons/discord.svg -%} Discord</a>
            <a href="{{ site.theme_config.privacy_page }}" target="_blank" rel="noopener">{%- include icons/lock-solid.svg -%} Privacy</a>
        </footer>
        <script>
            document.querySelector(".navbar__item--menu-foldout").addEventListener("click", () => {
                document.querySelector(".navbar").classList.toggle("navbar--foldout");
            });
        </script>      
    </body>

</html>
